<header class="app-header">
    <button class="logo" routerLink="/" aria-label="Logo">
        <img src="assets/icon.png" alt="Logo" />
    </button>

    <div class="actions">
        <button routerLink="/settings" aria-label="Settings">
            <img src="assets/settings.svg" alt="Settings" class="settings-icon" />
        </button>
        <button (click)="logout()" aria-label="logout">
            <img src="assets/logout.svg" alt="logout" class="exit-icon" />
        </button>
    </div>
</header>