<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
<header class="app-header">
    <button class="logo" routerLink="/" aria-label="Logo">
        <img src="assets/icon.png" alt="Logo" />
    </button>

    <div class="actions">
        <button routerLink="/notifications" aria-label="Notifications">
            <img src="assets/bell-regular-full.svg" alt="Notifications" class="notifications-icon" />
        </button>
        <button routerLink="/history" aria-label="History">
            <img src="assets/clock-rotate-left-solid-full.svg" alt="History" class="history-icon" />
        </button>
        <button routerLink="/settings" aria-label="Settings">
            <img src="assets/settings.svg" alt="Settings" class="settings-icon" />
        </button>
        <button (click)="minimize()" aria-label="Minimize">
            <img src="assets/xmark.svg" alt="Minimize" class="minimize-icon" />
        </button>
    </div>
</header>
