<div class="waiting-text">
  <p>Waiting on <span>{{ opponent?.username || 'opponent' }}</span></p>
</div>


<div class="loading-dots-container">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

<div>
  <img
    class="avatar"
    [src]="opponent?.avatar_url || 'https://via.placeholder.com/100'"
    alt="User Avatar"
  >
</div>

<div>
  <button type="button" (click)="cancelInvite()">Cancel Invite</button>
</div>

<div *ngIf="errorText" class="error-message">{{ errorText }}</div>
