<h2 class="duel-header">Start A New Duel</h2>

<div class="dashboard" *ngIf="!isLoading; else loadingBlock">
  <div class="left-panel">
    <input
      type="text"
      id="opponentUsername"
      placeholder="Opponent's Username"
      [(ngModel)]="opponentUsername"
    />

    <button type="button" (click)="startDuel()">Send Duel!</button>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>

  <div class="right-panel">
  <h3 class="box-label">Difficulty</h3>
  <details name="dropdown">
    <summary>
      {{ selectedDifficulties.size ? selectedDifficultiesList : 'Select difficulty...' }}
    </summary>
    <div class="dropdown-content">
      <label class="dropdown-label" *ngFor="let d of difficulties">
        <input
          #cb
          type="checkbox"
          [checked]="selectedDifficulties.has(d)"
          (change)="toggleDiff(d, cb.checked)"
        />
        {{ d }}
      </label>
    </div>
  </details>


  <h3 class="box-label">Tags</h3>
  <details name="dropdown">
    <summary>
      {{ selectedTags.size ? selectedTagsNames : 'Select tags...' }}
    </summary>
    <div class="dropdown-content">
      <label class="dropdown-label" *ngFor="let t of tags">
        <input
          #cb
          type="checkbox"
          [checked]="selectedTags.has(t.id)"
          (change)="toggleTag(t.id, cb.checked)"
        />
        {{ t.name }}
      </label>
    </div>
  </details>
  </div>
</div>

<ng-template #loadingBlock>
  <div class="loading-state">
    Loading dashboard...
  </div>
</ng-template>