@use '../../../theme/styles/_variables' as theme;
@use "sass:math";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: theme.$bg-primary;
  color: theme.$body-text;
}

.match-header {
  text-align: center;
}

.players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  margin: 10px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid theme.$input-bg;
}

.names {
  text-align: center;
  margin: 5px 0;
  font-size: 12px;
  font-weight: 500;
}

.stats-box {
  background-color: theme.$input-bg;
  padding: theme.$primary-padding;
  box-sizing: border-box;
  border-radius: 5%;
  font-size: 12px;
}

.stats-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin: 4px 0;
  }
}

.status-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 4px;
  vertical-align: middle;

  &.passed {
    background-color: theme.$good;
  }
  &.failed {
    background-color: theme.$bad;
  }
}

.forfeit-button {
  background: theme.$bad;
  color: theme.$input-text;
  border-radius: .25rem; // TODO: Update to gloabal
  margin: 0.2rem auto;
  display: block;
  border: none;
  cursor: pointer;
  width: math.div(theme.$box-width, 1.5);
}