$border-radius: 5px;
$input-bg: #2C2D31;
$input-text: #fff;
$good: #5ACE73;
$bad: #B91C00;
$body-text: #B5B5B5;
$example-text: #878787;
$opacity: 0.5;
$primary-padding: 0.5rem;
$box-width: 180px;
